@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<br />
<br />

<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">Take Entrance</h6>
    <h1 class="mb-5">Explore the world of brainX!</h1>
    
    <!-- /.login-box -->
</div>
<div class="wow fadeInUp" data-wow-delay="0.4s">
    <div class="login-box" style="position: center; margin-left:auto; margin-right:auto;">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header">
                <a href="#" class="h1"><b>@ViewData["Title"] </b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Log in to start your session</p>

                <form id="account" method="post" asp-validation-summary="ModelOnly" class="text-danger" role="alert">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input class="form-control" asp-for="Input.Email"
                               class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button id="login-submit" type="submit" class="btn btn-primary btn-block">Log in</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
